<!DOCTYPE html>
<html>
<head>
	<title>Sigma - Home</title>
	<link rel="stylesheet" href="/static/login.css">
</head>
<div>
	<div class="logo" style="background-color: #DAF7A6; border-style: none;border-width: 0px;">
		<img src="/static/brand.png" alt="Sigma Logo" style="width:100px; height:100px;">
		<div class="title">
			Cool Room Manager
		</div>
	</div>
</div>

<li>
	<div class="dropdown">
	  <button class="dropbtn">Home</button>
	  <div class="dropdown-content">
	    <a href="/templates/addroom.html">Add new rooms</a>
	    <a href="#">Delete rooms</a>
	    <a href="#">Select rooms</a>
	  </div>
	</div>
</li>

<li>
	<div class="dropdown">
	  <button class="dropbtn">Info</button>
	  <div class="dropdown-content">
	    <a href="#">FAQ</a>
	    <a href="#">HELP</a>
	    <a href="#">About US</a>
	  </div>
	</div>
</li>

<li>
	<div class="dropdown">
	  <button class="dropbtn">Search</button>
	  <div class="dropdown-content">
	    <a href="#">GENERAL</a>
	    <a href="#">MAX VALUE</a>
	    <a href="#">MIN VALUE</a>
	  </div>
	</div>
</li>

<li>
	<div class="dropdown">
	  <button class="dropbtn">Estadistics</button>
	  <div class="dropdown-content">
	    <a href="#">WEEKLY</a>
	    <a href="#">MONTHLY</a>
	    <a href="#">ANNUALY</a>
	  </div>
	</div>
</li>
</html>